:root {
  --primary: #f7f7f7 !important;
  --primary-text: #1a1a1a;
  --secondary: #5fcde4;
  --secondary-text: #ffffff;
  --accent: #505050;
  --accent-text: #ffffff;
}

body {
  background: #3491F9;
  background-image: url("./images/bg.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  vertical-align: middle;
  margin: 20px auto;
  width: 80%;
}

.flexItems {
  width: 10%;
}
.flexItems > a > img {
  width: 100%;
}


@media screen and (max-width: 480px) {
  body {
    background-size: auto;
    background-position: center;
    background-size: cover;
  }
}

@media only screen and (max-width: 600px) {
  .flexItems {
    width: 15%;
  }
}
